$font-family: 'Lato', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$width: 1440px;   
// ex: width:$width;

// @mixin  >  @include (name;)
// $mixedcolor: ;

// >
// linear-gradient (to ... red , green , blue);

// &:hover  (bitta tepa kodga tasir qiladi)
@mixin flexbox{
    display: flex;

}
@mixin text{
    text-decoration: none;
    list-style: none;
}
body{
        max-width: $width;
    header{
        height: 782px;
        padding: 50px 168px 0px 165px;
        opacity: 1;
        background-image: url(./images/photo_2023-02-25_20-29-56.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .header__navbar{
        display: flex;
        img{
            margin-right: 7px;
        }
        p{
            margin-bottom: 0;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-right: 129px;
        }
        .header__list{
            display: flex;
            ul{
                display: flex;
                margin-bottom: 0;

                li{
                    @include text;
                     display: flex;
                    
                    a{
                     @include text;
                     font-family: 'Lato';
                     font-style: normal;
                     font-weight: 700;
                     font-size: 14px;
                     line-height: 17px;
                     align-items: center;
                     text-transform: uppercase;
                     display: flex;
                     color: #FFFFFF;
                     margin-right: 20px;
                    }
                }
            }
        }
        .header__choose{
            display: flex;
            margin-left: 93px;
            img{
                margin-right: 11px;
            }
            select{
                border: none;
                background: transparent;
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                font-style: normal;
                outline: none;
                color: #FFFFFF;
                option{
                    color: black;
                    border: none;
                    background: transparent;
                }
            }
        }
        .header__button{
            border: 1px solid #FFFFFF;
            border-radius: 6px;
            margin-left: 20px;
            button{
               
                background: transparent;
                border: none;
                a{
                    @include text;
                    font-family: 'Lato';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 11px 28px 12px 29px;
                    font-style: normal;
                    border: none;
                }
            }
        }
        
    }
    .header__name{
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        h1{
            margin-top: 27px;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 86px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 0;
            padding-bottom: 39px;
        }
       
    }
    .header__name__list{
        p{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            margin-top: 39;
            padding-bottom: 39px;
            margin-bottom: 0;
        }
    }
    .header__button__name{
    display: flex;
    justify-content: center;
    margin-top: 39;
        button{
            background: #FFFFFF;
            border: none;
            border-radius: 6px;
            a{
                @include text;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #ED4C5C;
                padding: 17px 53px 16px 52px;
            }
        }
    }
}
nav{
    height: 500px;
    padding: 0px 260px 95px 165px;
    .header__footer{
        display: flex;
        justify-content: space-between;

        .header__footer__name{
            h2{
                margin-top: 140px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                color: #000000;
                margin-bottom: 24px;
            }
            p{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-align: justify;
                color: #000000;
            }
            a{
                @include text;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-align: justify;
                color: #ED4C5C;
            }
        }
        .header__footer__photo{
            .play{
                position: absolute;
                z-index: 1;
                top: 905px;
                left: 702px;
            }
            img{
                position: relative;
                padding-top: 94px;
            }
        }
    }
    
}
main{
    .main___header{
        .main__name{
            padding: 158px 115px 63px 215px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                text-align: center;
                color: #000000;
                margin-bottom: 0;
            }
        }
        .main__images{
            display: flex;
            padding: 0 85px 0 165px;
            justify-content: space-between;
            // 124px
            .main___img{
                img{
                    border-radius: 8px;
                    z-index: -1;
                    position: absolute;
                }
                .main__text{
                    width: 293px;
                    height: 198px;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    margin: 157px 0 0 29px;
                    padding: 33px 20px 0 20px;
                    text-align: center;
                    h3{
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: #101010;
                        margin-bottom: 0;
                        padding-bottom: 20px;
                    }
                    p{
                        font-family: 'Lato';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: #101010;
                        font-style: normal;
                        margin-bottom: 0;
                        padding-bottom: 20px;
                    }
                    a{
                        @include text;
                        font-family: 'Lato';
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: #ED4C5C;
                        font-style: normal;
                    }

                }
               
                
            }
        }
    }
    .main__footer{
        .main__footer__name{
                padding: 158px 115px 63px 215px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            h2{
                font-family: 'Lato';
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                text-align: center;
                color: #000000;
                font-style: normal;
                margin-bottom: 0;
            }
        }
        .main__footer__images{
            justify-content: space-between;
            padding: 0 85px 108px 195px;
            @include flexbox;
            .main___footer__img{
                width: 255px;
                height: 226px;
                img{
                   padding: 0 69px 19px;
                    position: relative;
                }
                .img__footer{
                   padding: 0 69px 0;
                    position: absolute;
                    display: inline;
                    top: 2199px;
                    left: 210px;
                    // opacity: .9;
                }
                .img__footer1{
                    position: absolute;
                    display: inline;
                    top: 2203px;
                    left: 520px;
                }
                .img__footer2{
                    position: absolute;
                    display: inline;
                    top: 2199px;
                    left: 820px;
                }
                .img__footer3{
                    position: absolute;
                    display: inline;
                    top: 2211px;
                    left: 1133px;
                }
                .main__footer__text{
                    h4{
                        padding-top: 19px;
                        font-family: 'Lato';
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: #101010;
                        font-style: normal;
                        margin-bottom: 0;
                    }
                    p{
                        margin-top: 10px;
                        font-family: 'Lato';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        font-style: normal;
                        color: #000000;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
section{
    .section__header{
        height: 500px;
        background: #ED4C5C;
        padding: 94px 216px 95px 165px;
        @include flexbox;
        justify-content: space-between;
        .section__header__name{
            h4{
                font-family: 'Lato';
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                font-style: normal;
                color: #FFFFFF;
                margin-bottom: 0;
            }
            p{
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-align: justify;
                color: #FFFFFF;
                font-style: normal;
                margin-bottom: 0;
                margin-top: 50px;
            }
        }
        .section__header__logo{
            margin: 40px 0 0 0;
            .fa-google-play{
                width: 32px;
                height: 32px;
                margin-right: 23px;
                color: #FFFFFF;
            }
            .fa-app-store-ios{
                width: 32px;
                height: 32px;
                color: #FFFFFF;
                margin-right: 23px;
            }
            .fa-windows{
                width: 32px;
                height: 32px;
                color: #FFFFFF;
            }
        }
        .section__header__imgs{
            .section__header__img{
                img{
                    position: absolute;
                    border-radius: 15px;
                    left: 835px;
                    top: 2610px;
                    opacity: 0.5;
                }
            }
            .section__header__img1{
                img{
                    border-radius: 15px;
                    z-index: -1;
                    margin: 22px 150px 22px 0;
                    opacity: 0.5;
                }
            }
            .section__header__img2{
                position: absolute;
                top: 2571px;
                left: 580px;
                img{
                    border-radius: 15px;
                    z-index: -1;
                    margin: 22px 0px 22px 150px;
                }
            }
        }
    }
    .section__registration{
        padding: 117px 165px 78px 176px;
        height: 500px;
        @include flexbox;
        .section__registration__name{
            width: 800px;
            h4{
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                font-family: 'Lato';
                color: #000000;
                margin-bottom: 0;
            }
            p{
                margin-top: 40px;
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                font-style: normal;
                text-align: justify;
                color: #000000;
                margin-bottom: 0;
            }
        }
        .section__registration__enter{
            padding-left: 130px;
            .input{
                margin: 0 26px 24px 0;
                padding: 21px 146px 20px 31px;
                width: 255px;
                height: 60px;
                border-radius: 6px;
                border: 1px solid #333333;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(19, 39, 67, 0.5);
                font-family: 'Lato';
            }
            .input1{
                margin: 0 0 24px 0;
                padding: 21px 149px 20px 31px;
                width: 255px;
                height: 60px;
                border: 1px solid #333333;
                border-radius: 6px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(19, 39, 67, 0.5);
                font-family: 'Lato';
            }
            .input2{
                margin: 0 0px 24px 0;
                padding: 21px 403px 20px 31px;
                width: 540px;
                height: 60px;
                border: 1px solid #333333;
                border-radius: 6px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(19, 39, 67, 0.5);
                font-family: 'Lato';
            }
            select{
                margin: 0 0px 27px 0;
                display: flex;
                padding: 21px 371px 20px 31px;
                width: 540px;
                height: 60px;
                border: 1px solid #333333;
                border-radius: 6px;
                font-family: 'Lato';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(19, 39, 67, 0.5);
                font-style: normal;
            }
            button{
                background: #ED4C5C;
                border: 1.5px solid #ED4C5C;
                border-radius: 6px;
                padding: 17px 34px 16px 34px;
                a{
                    @include text;
                    font-family: 'Lato';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    font-style: normal;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
    }
    .section__footer{
        background: #FAFAFA;
        height: 435px;
        padding: 85px 196px 86px 161px;
        @include flexbox;
        justify-content: space-between;
        .footer__address{
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #101010;
                font-family: 'Lato';
                margin-bottom: 33px;
            }
            p{
                margin-bottom: 141px;
                font-family: 'Lato';
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #101010;
                font-style: normal;
            }
            .section__footer__text{
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #101010;
                margin-bottom: 0;
                font-family: 'Lato';
            }
        }
        .footer__service{
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #101010;
                font-family: 'Lato';
                margin-bottom: 28px;
            }
            ul{
                padding: 0;
                li{
                    @include text;
                    a{  @include text;
                        margin-bottom: 0;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 160%;
                        text-transform: capitalize;
                        color: #000000;
                        font-family: 'Lato';
                    }
                    
                }
            }
        }
        .footer__get__in__touch{
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #101010;
                font-family: 'Lato';
                margin-bottom: 33px;
            }
            ul{
                padding: 0;
                margin-bottom: 11px;
                li{
                    padding: 0;
                    @include text;
                    a{
                        @include text;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        font-family: 'Lato';
                        color: #101010;
                    }
                }
                
            }
            .footer__a{
                a{
                    @include text;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    font-family: 'Lato';
                    color: #121212;
                    margin: 11px 0 20px 0;
                }
            }
            
            .fa-facebook-f{
                width: 14px;
                height: 14px;
                margin-right: 12px;
                margin-top: 20px;
            }
            .fa-linkedin-in{
                width: 14px;
                height: 14px;
                margin-right: 12px;
                margin-top: 20px;
            }
            .fa-twitter{
                width: 14px;
                height: 14px;
                margin-top: 20px;
            }
        }
        .footer__we__support{
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #101010;
                font-family: 'Lato';
                margin-bottom: 33px;
            }
        }
    }
}